table {
	width: 120%;
	display: block;
	position: absolute;
	background-color: #FFFFFF;
	color: #000000;
}

thead {
	display: inline-block;
	width: 120%;
	height: 20px;
}

tbody {
	height: 290px;
	display: inline-block;
	width: 100%;
	overflow: scroll;
}